SCHROOT_CONF_SUFFIX="source-root-users=root,sbuild,admin
source-root-groups=root,sbuild,admin
preserve-environment=true"
# If you work on security uploads, you want to skip both proposed and updates.
# Otherwise (e.g. working on SRUs or on the devel series), leave them enabled
# to mirror the Launchpad builder configuration.
# SKIP_UPDATES="1"
# SKIP_PROPOSED="1"
# if you have e.g. apt-cacher-ng around
DEBOOTSTRAP_PROXY=http://127.0.0.1:3142/
